.Button__Container {
  background-color: white;
  position: fixed;
  min-width: 100%;
  height: auto;
  z-index: 1;
  border-bottom: black 3px solid;
  border-top: black 3px solid;
}

@media only screen and (min-width: 768px) {
    main {
      display: flex;
      /* flex-direction: row; */
      
    }
    .recipeCard_Container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
    }
    
  
  }