.Button__Container {
  position: fixed;
  min-width: 100%;
  height: auto;
  z-index: 1;

}


button {
  margin: 5px;
}

button:hover {
    color: grey;
}

@media only screen and (min-width: 768px) {
    main {
      display: flex;
      flex-direction: row;

    }
    .Posts_Container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
    }


  }
