.recipeCard_Container {
  /*justify-content: space-around;*/
  max-width: 400px;
  margin: 0 auto;
}
/*
.recipe__upperText {
  border: solid 3px blue;
}

.recipe__container {
  border: solid 2px green;
  width: 100%;
}*/

.recipe__instructions {
  text-align: left;
}

.recipeImg__container {
  margin-bottom: 10px;
}
/*
.recipeImg__container img {
  width: 100%;
  height: auto;
}

li {
    display: inline-block;
}*/


@media only screen and (min-width: 768px) {
  .recipeCard_Container {
    max-width: 900px;
  }
    .recipe__container {
      display: flex;
      flex-direction: row;
    }
    .recipeImg__container {
      margin-right: 30px;
    }


  }
