.ButtonContainer {
  margin: 0 auto;
  margin-bottom: 5px;
  position: fixed;
  top: 30;
  left: 15%;
  right: 15%;
  max-width: 70%;
  background-color: white;
  height: auto;
  z-index: 1;
}

button {
  margin: 5px;
}


@media only screen and (min-width: 768px) {
    main {
      display: flex;
      flex-direction: row
    }
    .PostsContainer {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
    }


  }
